<nb-card>
  <nb-card-header>
    <div class="filters">
      <input nbInput placeholder="Фильтрация по названию" [(ngModel)]="filterName" />
      <input nbInput type="date" placeholder="" [(ngModel)]="filterStartDate" />
      <input nbInput type="date" placeholder="" [(ngModel)]="filterEndDate" />
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="element-grid">
      <div class="element-grid-header">
        <span>Наименование</span>
        <span>Дата и время создания</span>
        <span>Дата и время выполнения</span>
        <span>Действия</span>
      </div>
      <div *ngFor="let element of filterElements(); let i = index" class="element-grid-item">
        <span>{{ element.name }}</span>
        <span>{{ element.creationDate | date: 'short' }}</span>
        <span>{{ element.dueDate | date: 'short' }}</span>
        <div class="actions">
          <button nbButton status="info" (click)="viewElement(element)" >
            <nb-icon icon="book-open-outline"></nb-icon>
          </button>
          <button nbButton status="primary" (click)="moveUp(i)">
            <nb-icon icon="arrow-circle-up-outline"></nb-icon>
          </button>
          <button nbButton status="primary" (click)="moveDown(i)">
            <nb-icon icon="arrow-circle-down-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
