<nb-card>
  <nb-card-header>
    <div class="filters">
      <input nbInput placeholder="{{ 'VIEWING.NAME' | translate }}" [(ngModel)]="filterName" />
      <input nbInput placeholder="{{ 'VIEWING.DATE1' | translate }}" [(ngModel)]="filterStartDate" [nbDatepicker]="startDatePicker" />
      <nb-datepicker #startDatePicker></nb-datepicker>
      <input nbInput placeholder="{{ 'VIEWING.DATE2' | translate }}" [(ngModel)]="filterEndDate" [nbDatepicker]="endDatePicker" />
      <nb-datepicker #endDatePicker></nb-datepicker>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="element-grid">
      <div class="element-grid-header">
        <span>{{ 'GRID.NAME' | translate }}</span>
        <span>{{ 'GRID.DATECREATION' | translate }}</span>
        <span>{{ 'GRID.DATEEXECUTION' | translate }}</span>
        <span>{{ 'GRID.ACTIONS' | translate }}</span>
      </div>
      <div *ngFor="let element of filteredElements$ | async; let i = index" class="element-grid-item">
        <span>{{ element.name }}</span>
        <span>{{ element.creationDate | date: 'dd.MM.yyyy HH:mm' }}</span>
        <span>{{ element.dueDate | date: 'dd.MM.yyyy HH:mm' }}</span>
        <div class="actions">
          <button nbButton status="info" (click)="viewElement(element)">
            <nb-icon icon="book-open-outline"></nb-icon>
          </button>
          <button nbButton status="primary" (click)="moveUp(i)">
            <nb-icon icon="arrow-circle-up-outline"></nb-icon>
          </button>
          <button nbButton status="primary" (click)="moveDown(i)">
            <nb-icon icon="arrow-circle-down-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
