<nb-card>
  <nb-card-header>
    <button nbButton status="success" (click)="openAddPopup()">Добавить элемент</button>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let element of elements">
        <div class="element-item">
          <span>{{ element.name }}</span>
          <span>{{ element.creationDate | date: 'short' }}</span>
          <span>{{ element.dueDate | date: 'short' }}</span>
          <button nbButton status="info" (click)="editElement(element)">Редактировать</button>
          <button nbButton status="danger" (click)="deleteElement(element)">Удалить</button>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
